@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-content{
        width: 90%;
    }
    /* simple banner responsive style */
    .simple-banner-section{
        flex-direction: column-reverse;
        text-align: center;
    }
.simple-banner-content {
    width: 100%;
}
.simple-banner-content h1{
    font-size: 2.5rem;
}
}